@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section Scripts
{
    <script type="application/javascript">
        const selectElement = document.querySelector('#last-name');

        selectElement.addEventListener('change', (event) => {
            console.debug("change listener fired");
            const result = document.querySelectorAll('.requires-email');
            const firstName = document.querySelector('#first-name').value;
            const lastName = document.querySelector('#last-name').value;

            for(var i = 0, len = result.length; i < len; i++) {
                result[i].value = firstName + "." + lastName + "@@digital.education.gov.uk";
            }
        });

    </script>
}

<form method="POST">

  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Personal Details
            </h1>
            </legend>

    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--2" for="first-name">
                Firstname
            </label>
        </h1>
        <input class="govuk-input" id="first-name" type="text" asp-for="UserDetails.Firstname">

        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--2" for="last-name">
                Lastname
            </label>
        </h1>
        <input class="govuk-input" id="last-name" type="text" asp-for="UserDetails.Lastname">

         <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--2" for="personal-email">
                Personal Email
            </label>
        </h1>
        <input class="govuk-input" id="personal-email" type="text" asp-for="UserDetails.PersonalEmail">

    </div>

  </fieldset>

    <div class="govuk-form-group">

  
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                What applications do they need access to?
            </h1>
            </legend>
            <span id="waste-hint" class="govuk-hint">
            Select all that apply.
            </span>
            <div class="govuk-checkboxes">
            @* <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="gsuite" name="gsuite" type="checkbox" value="gsuite">
                <label class="govuk-label govuk-checkboxes__label" for="gsuite">
                GSuite (@@digital.education.gov.uk email address)
                </label>
            </div>
             *@
             @* <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="slack" name="slack" type="checkbox" value="slack" checked="checked">
                <label class="govuk-label govuk-checkboxes__label" for="slack">
                Slack
                </label>
            </div>  *@

            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="atlassian"  asp-for="UserDetails.Atlassian" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label" for="atlassian">
                Jira/Confluence
                </label>                
            </div>

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--2" for="event-name">
                    What is the email address to use for the Jira & Confluence account (better if it's a digital email address)?
                </label>
                </h1>
                <input class="govuk-input requires-email" id="gsuite-email"asp-for="UserDetails.AtlassianUser.Email" type="text">
            </div>

             <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="slack" asp-for="UserDetails.GitHub" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label" for="slack">
                GitHub
                </label>               
            </div>

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--2" for="event-name">
                    What is the GitHub user account?
                </label>
                </h1>
                <input class="govuk-input" id="gsuite-email" asp-for="UserDetails.GitHubUser.Username" type="text">
            </div> 

            @* <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        When do they start?
                    </h1>
                    </legend>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="imediate-start" name="imediate-start" type="checkbox" value="imediate-start">
                        <label class="govuk-label govuk-checkboxes__label" for="imediate-start">
                        Immediately
                        </label>               
                    </div>

                    <span id="passport-issued-hint" class="govuk-hint">
                    For example, 12 11 2007
                    </span>
                    <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                            Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                            Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                            Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                    </div>



                    </div>

                </fieldset>
                </div> *@

            <div class="govuk-form-group">
                <button class="govuk-button" data-module="govuk-button" type="submit">
                Send Request
                </button>
            </div>
        </fieldset>
    </div>    
</form>
